<!DOCTYPE html>

<html ng-app="rachid">
    <head>

        <title>{{title}}</title>

        <link rel="stylesheet" href="/angular-ui-grid/ui-grid.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="/angular/angular.js"></script>
        <script src="/angular-ui-grid/ui-grid.js"></script>
        <script src="/js/main.js"></script>

    </head>

    <body>
        {{{body}}}
    </body>

</html>
